Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
psycopg2-binary>=2.9.11
python-dotenv==1.0.0
stripe==7.0.0
Pillow>=10.2.0
django-allauth==0.54.0
drf-yasg==1.21.7
django-parler==2.3
whitenoise==6.6.0
gunicorn==21.2.0
dj-database-url==2.1.0
django-storages==1.14.2
boto3==1.35.0
requests>=2.31.0
flake8==6.1.0
black==23.12.1
isort==5.13.2
