name: Deploy dev
on:
  push:
    branches: [ "develop" ]

permissions:
  id-token: write
  contents: read

jobs:
  call:
    uses: ./.github/workflows/infra.yml
    with:
      environment: development
    secrets: inherit
  call:
    uses: ./.github/workflows/cd.yml
    with:
      environment: development
    secrets: inherit

