name: Deploy dev
on:
  push:
    branches: [ "test" ]

permissions:
  id-token: write
  contents: read

jobs:
  infra:
    uses: ./.github/workflows/infra.yml
    with:
      environment: test
    secrets: inherit
  cd:
    uses: ./.github/workflows/cd.yml
    with:
      environment: test
    secrets: inherit

