name: Deploy Test
on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  infra:
    uses: ./.github/workflows/infra.yml
    with:
      environment: production
    secrets: inherit
  cd:
    uses: ./.github/workflows/cd.yml
    with:
      environment: production
    secrets: inherit

