name: 'Build and Deploy to GKE Infra'


on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      config_path:
        required: false
        type: string
        default: "config/config.${{ inputs.environment }}.yml"

jobs:
  setup-build-publish-deploy:
    name: 'Setup, Build, Publish, and Deploy'
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Get GKE credentials (no plugin needed)
        uses: google-github-actions/get-gke-credentials@v3
        with:
          project_id: ${{ env.k8.PROJECT_ID }}
          cluster_name: ${{ env.k8.GKE_CLUSTER }}
          location: ${{ env.k8.GKE_ZONE }}

      - name: 'Deploy to GKE'
        run: |-
          helm upgrade --install infra devops/infra --namespace ${{ env.k8.NAMESPACE }}   --create-namespace
          kubectl get pods -A --namespace ${{ env.k8.NAMESPACE }} 
