name: 'Build and Deploy to GKE Infra'

on:
  workflow_dispatch:
  push:
    paths:
      - "devops/infra/**"
    branches:
      - 'main'
      - 'cicd'

env:
  PROJECT_ID: 'test-donate-472114'
  GKE_CLUSTER: 'lendahand-test'
  GKE_ZONE: 'us-central1-a'


jobs:
  setup-build-publish-deploy:
    name: 'Setup, Build, Publish, and Deploy'
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Get GKE credentials (no plugin needed)
        uses: google-github-actions/get-gke-credentials@v3
        with:
          project_id: ${{ env.PROJECT_ID }}
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}

      - name: 'Deploy to GKE'
        run: |-
          helm upgrade --install infra devops/infra 
          kubectl get pods -A
